.product_table{
    border: 1px solid tan;
}
.product_table th{
    background-color: rgb(211, 39, 39);
    color: white;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
 .center {
    margin-left: auto;
    margin-right: auto;
 }
 td{
    border:1px solid tan ;
 }
 .product_table tfoot{
    background-color: tan;
 }
 .product_table tbody{
    background-color: rgb(255, 255, 242);
 }